<div class="questions">
	<%= question.text %>
	<div><input type="text" class="question" id="input01"></div>

	<%= render :partial => 'questions/obscured_controls', :locals => {:question => question} %>
</div>

