<div class="questions">
	<%= question.text %>
	<% question.answers.each do |answer| %>
		<p>Response: <%= answer.text %></p>
	<% end %>
	<%= render :partial => 'questions/obscured_controls', :locals => {:question => question} %>
</div>

