.navbar a {
	font-size: 24px;
}

.form-inline input {
	margin: 2% .5% 2% 0%;
	width: 45%;
	height: 8%;
	font-size: 24px;
}

.alert {
	font-size: 	24px;
	line-height: 102%;
}

h3 {
	font-size:	24px;
	margin-left: .75%;
	padding: .5%;
}

.control-group label {
	width: 100%;
	font-size: 	24px;
}

.questions {
	width: 100%;
	font-size: 24px;
}

.question {
	margin: 2%;
}
